<div
  class="inline-flex items-center"
  [class.gap-3]="tamanho === 'grande'"
  [class.gap-1]="tamanho === 'compacto'"
>
  <i
    class="pi pi-stopwatch text-[var(--p-primary-600)]"
    [class.text-2xl]="tamanho === 'grande'"
    [class.text-sm]="tamanho === 'compacto'"
  ></i>
  <span
    class="font-mono font-semibold tabular-nums text-[var(--p-primary-600)]"
    [class.text-4xl]="tamanho === 'grande'"
    [class.text-sm]="tamanho === 'compacto'"
  >
    {{ tempoDecorrido() }}
  </span>
</div>
